* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 34px;
    background: linear-gradient(to right, #c05fb0, #cdcdff);
    padding: 7px 14px;
    margin-block-end: 0;
}

h3 {
    text-align: center;
    font-size: 14px;
    color: #b1b1b1;
    margin-block-start: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 27px 0 27px;
}

.nav-title {
    flex: 5;
}

.nav-title a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.logout {
    font-size: 18px;
    background: none;
    border: none;
    color: black;
}

.logout a {
    font-size: 15px;
    color: #ebb113
}

.nav-item {
    flex: 5;
    display: flex;
    justify-content: space-between;
}

.nav-item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    font-size: 15px;
    color: #ebb113;
}

.text-gradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, #9580ff 0, #c05fb0 100%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}

.post-list {
    background: linear-gradient(to left, #c05fb0, #cdcdff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1040px;
    margin: auto;
    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 17px;
}

.post-list h2 {
    text-align: center;
    color: white;
}

.post-list-title {
    margin-block-end: 0;
}

.post-list-title a {
    text-decoration: none;
    color: #46c50b;
    font-size: 18px;
}

.post-list-body {
    background-color: white;
    padding: 10px 17px;
    border-radius: 20px;
}

.post-list-body a {
    text-decoration: none;
    color: #000000da;
}